<nav class="navbar navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Szpital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" [routerLink]="['karty']">Karty pobytu-->
<!--            <span class="sr-only">(current)</span>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['pacjenci']">Pacjenci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['lekarze']">Lekarze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['pielegniarki']">Pielęgniarki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['sale']">Sale</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" [routerLink]="['recepty']">Recepty</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" [routerLink]="['diagnozy']">Diagnozy</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['specjalizacje']">Specjalizacje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hide()" [routerLink]="['leki']">Leki</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
