<div class="container">

  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    +Dodaj
  </button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>nazwa_specjalizacji</th>
        <th>Płaca minimalna</th>
        <th>Płaca maksymalna</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Kardiochirurg</td>
        <td>100</td>
        <td>1000</td>
        <td class="text-right">
          <button class="btn btn-danger">Usuń</button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">Edytuj</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Dodaj receptę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="submit">

          <div class="form-group">
            <label for="id_recepty">ID recepty</label>
            <input type="text" class="form-control" id="id_recepty">
          </div>

          <div class="form-group">
            <label for="data_wystawienia">Data wystawienia</label>
            <input type="text" class="form-control" id="data_wystawienia">
          </div>

          <div class="form-group">
            <label for="id_lekarza">ID lekarza</label>
            <input type="text" class="form-control" id="id_lekarza">
          </div>

          <div class="form-group">
            <label for="id_karty_pobytu">ID karty pobytu</label>
            <input type="text" class="form-control" id="id_karty_pobytu">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Edytuj receptę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="submit">

          <div class="form-group">
            <label for="id_recepty_update">ID recepty</label>
            <input type="text" class="form-control" id="id_recepty_update">
          </div>

          <div class="form-group">
            <label for="data_wystawienia_update">Data wystawienia</label>
            <input type="text" class="form-control" id="data_wystawienia_update">
          </div>

          <div class="form-group">
            <label for="id_lekarza_update">ID lekarza</label>
            <input type="text" class="form-control" id="id_lekarza_update">
          </div>

          <div class="form-group">
            <label for="id_karty_pobytu_update">ID karty pobytu</label>
            <input type="text" class="form-control" id="id_karty_pobytu_update">
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>



