<div class="container">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    +Dodaj
  </button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>

        <th>Nazwa operacji</th>
        <th>Termin</th>
        <th>Lekarz operujący</th>

        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let operacja of operacje">

        <td>{{operacja.nazwa_operacji}}</td>
        <td>{{operacja.termin}}</td>
        <span *ngFor="let lekarz of lekarze">
          <span *ngIf="lekarz.id_lekarza === operacja.id_lekarza">
            <td>{{lekarz.imie}} {{lekarz.nazwisko}}</td>
          </span>
        </span>

        <td class="text-right">
          <button class="btn btn-danger" (click)="onConfirmDelete(operacja.id_operacji)">Usuń</button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"
                  (click)="onEditForm(operacja.id_operacji, operacja.nazwa_operacji, operacja.termin, operacja.id_lekarza)">
            Edytuj
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Dodaj operację</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formAddOperacja)" [formGroup]="formAddOperacja">


          <div class="form-group">
            <label for="nazwa_operacji">Nazwa operacji</label>
            <input type="text" class="form-control" id="nazwa_operacji" formControlName="nazwa_operacji">
          </div>

          <div class="form-group">
            <label for="termin">Termin</label>
            <input type="text" class="form-control" id="termin" formControlName="termin">
          </div>

          <div class="form-group">
            <label for="id_lek">Lekarz wystawiający</label>
            <select class="form-control" id="id_lek" formControlName="id_lekarza">

              <option *ngFor="let lekarz of lekarzeAvailable" [value]="lekarz.id_lekarza">{{lekarz.id_lekarza}}
                - {{lekarz.imie}} {{lekarz.nazwisko}}</option>

            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Zamknij</button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Edytuj operację</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="onSubmit(formEditOperacja)" [formGroup]="formEditOperacja">


          <div class="form-group">
            <label for="nazwa_operacji_update">Nazwa operacji</label>
            <input type="text" class="form-control" id="nazwa_operacji_update" formControlName="nazwa_operacji">
          </div>

          <div class="form-group">
            <label for="termin_update">Termin</label>
            <input type="text" class="form-control" id="termin_update" formControlName="termin">
          </div>

          <div class="form-group">
            <label for="id_lek_update">Lekarz wystawiający</label>
            <select class="form-control" id="id_lek_update" formControlName="id_lekarza">

              <option *ngFor="let lekarz of lekarze" [value]="lekarz.id_lekarza">{{lekarz.id_lekarza}}
                - {{lekarz.imie}} {{lekarz.nazwisko}}</option>

            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>



