.home-background{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  height: 100vh;
  min-height: 500px;
  background-image: url(https://miltonbrown.pl/upload/productions/ID_49/squares/_01_4508_hospital_stock_production_miltonbrown.jpg);
  /*background-image: url(https://images.unsplash.com/photo-1516841273335-e39b37888115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1931&q=80);*/
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.my-4 {
  margin-top: 2.5rem !important;
}
hr.divider {
  max-width: 5.25rem;
  border-width: 0.2rem;
  border-color: cadetblue;
}
.text-white-75 {
  color: rgba(0,0,0,1);
  font-weight: bold;
}
.font-weight-light {
  font-weight: 300 !important;
}

.mb-5,
.my-5 {
  margin-bottom: 1rem !important;
}

.btn-primary {
  color: #fff;
  background-color: cadetblue;
  border-color: cadetblue;
}

