<div class="container">

  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    +Dodaj
  </button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>id_karty</th>
        <th>data przyjęcia</th>
        <th>godzina przyjęcia</th>
        <th>data wypisu</th>
        <th>nr sali</th>
        <th>pesel</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        <td>sit</td>
        <td class="text-right">
          <button class="btn btn-danger">Usuń</button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">Edytuj</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Dodaj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="submit">

          <div class="form-group">
            <label for="id_karty">ID Karty</label>
            <input type="text" class="form-control" id="id_karty">
          </div>

          <div class="form-group">
            <label for="data_przyjecia">Data przyjęcia</label>
            <input type="text" class="form-control" id="data_przyjecia">
          </div>

          <div class="form-group">
            <label for="godzina_przyjecia">Godzina przyjęcia</label>
            <input type="text" class="form-control" id="godzina_przyjecia">
          </div>

          <div class="form-group">
            <label for="data_wypisu">Data wypisu</label>
            <input type="text" class="form-control" id="data_wypisu">
          </div>


          <div class="form-group">
            <label for="nr_sali">Nr sali</label>
            <input type="text" class="form-control" id="nr_sali">
          </div>

          <div class="form-group">
            <label for="pesel">pesel</label>
            <input type="text" class="form-control" id="pesel">
          </div>




        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Edytuj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="submit">

          <div class="form-group">
            <label for="id_karty_update">ID Karty</label>
            <input type="text" class="form-control" id="id_karty_update">
          </div>

          <div class="form-group">
            <label for="data_przyjecia_update">Data przyjęcia</label>
            <input type="text" class="form-control" id="data_przyjecia_update">
          </div>

          <div class="form-group">
            <label for="godzina_przyjecia_update">Godzina przyjęcia</label>
            <input type="text" class="form-control" id="godzina_przyjecia_update">
          </div>

          <div class="form-group">
            <label for="data_wypisu_update">Data wypisu</label>
            <input type="text" class="form-control" id="data_wypisu_update">
          </div>


          <div class="form-group">
            <label for="nr_sali_update">Nr sali</label>
            <input type="text" class="form-control" id="nr_sali_update">
          </div>

          <div class="form-group">
            <label for="pesel_update">pesel</label>
            <input type="text" class="form-control" id="pesel_update">
          </div>




        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>



