<div class="container">

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" *ngIf="isLoading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <h1 class="text-center text-info" *ngIf="!isLoading">Karty pobytu pacjenta {{imie}} {{nazwisko}}</h1>


  <div class="table-responsive" *ngIf="!isLoading">

    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      +Dodaj
    </button>

    <table class="table table-striped table-sm">
      <thead>
      <tr>

        <th>Data przyjęcia</th>
        <th>Godzina przyjęcia</th>
        <th>Data wypisu</th>
        <th>Numer sali</th>
        <th>PESEL pacjenta</th>
        <th class="text-center">Informacje na karcie</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let karta of karty">
        <td class="text-center">{{karta.data_przyjecia}}</td>
        <td class="text-center">{{karta.godzina_przyjecia}}</td>
        <td class="text-center">{{karta.data_wypisu}}</td>
        <td class="text-center">{{karta.nr_sali}}</td>
        <td class="text-center">{{karta.pesel}}</td>

        <td class="text-right">
          <button class="btn btn-outline-secondary" [routerLink]="[karta.id_karty,'diagnozy']" > Diagnozy</button>
          <button class="btn btn-outline-secondary" [routerLink]="[karta.id_karty,'recepty']"> Recepty</button>
          <button class="btn btn-outline-secondary" [routerLink]="[karta.id_karty,'operacje']"> Operacje</button>
          <button class="btn btn-outline-secondary" [routerLink]="[karta.id_karty,'lekarze']">Lekarze</button>
        </td>
        <td class="text-right">
          <button class="btn btn-danger" (click)="onConfirmDelete(karta.id_karty)">Usuń</button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"
          (click)="onEditKarta(karta.id_karty,karta.data_przyjecia,karta.godzina_przyjecia,
          karta.data_wypisu, karta.nr_sali)">Edytuj</button>

        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Dodaj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formAddKarta)" [formGroup]="formAddKarta">

          <div class="form-group">
            <label for="data_przyjecia">Data przyjęcia</label>
            <input type="date" class="form-control" id="data_przyjecia" formControlName="data_przyjecia">
            <p class="text-sm-left text-info">Wprowadź datę dzisiejszą lub przeszłą</p>




            <span *ngIf="formAddKarta.get('data_przyjecia').errors?.dateIsLess && formAddKarta.get('data_przyjecia').touched"
                  class="help-block text-danger">
                  Wprowadzono datę z przyszłości
            </span>

            <span *ngIf="formAddKarta.get('data_przyjecia').hasError('required') && formAddKarta.get('data_przyjecia').touched"
                  class="help-block text-danger">
                  Wymagane wprowadzenie daty
            </span>



          </div>

          <div class="form-group">
            <label for="godzina_przyjecia">Godzina przyjęcia</label>
            <input type="time" class="form-control" id="godzina_przyjecia" formControlName="godzina_przyjecia">

            <span *ngIf="formAddKarta.get('godzina_przyjecia').hasError('required') && formAddKarta.get('godzina_przyjecia').touched"
                  class="help-block text-danger">
                  Godzina wymagana
            </span>

          </div>


          <div class="form-group">
            <label for="nr_sali">Numer sali</label>
            <select class="form-control" id="nr_sali" formControlName="nr_sali">
              <option *ngFor="let sala of sale" [value]="sala.nr_sali" >{{sala.nr_sali}} - {{sala.oddzial}}</option>

            </select>

            <span *ngIf="formAddKarta.get('nr_sali').errors?.salaIsFull"
                  class="help-block text-danger">
                  Sala jest pełna
            </span>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Zamknij</button>
            <button type="submit" class="btn btn-primary" [disabled]="!formAddKarta.valid">Zapisz</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Edytuj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formEditKarta)" [formGroup]="formEditKarta">

          <div class="form-group">
            <label for="data_przyjecia_update">Data przyjęcia</label>
            <input type="date" class="form-control" id="data_przyjecia_update" formControlName="data_przyjecia" >
          </div>

          <div class="form-group">
            <label for="godzina_przyjecia_update">Godzina przyjęcia</label>
            <input type="time" class="form-control" id="godzina_przyjecia_update" formControlName="godzina_przyjecia">
          </div>

          <div class="form-group">
            <label for="data_wypisu_update">Data wypisu</label>
            <input type="text" class="form-control" id="data_wypisu_update" formControlName="data_wypisu">
          </div>


          <div class="form-group">
            <label for="nr_sali_update">Numer sali</label>
            <select class="form-control" id="nr_sali_update" formControlName="nr_sali">
              <option *ngFor="let sala of sale" [value]="sala.nr_sali" >{{sala.nr_sali}} - {{sala.oddzial}}</option>
            </select>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>



